/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Base Block Style */

.wp-block-craftblocks-callout-and-alert-box {
	padding: 1.5rem;
	border-radius: 8px;
	background-color: #e7f5ff;
	border-left: 5px solid #228be6;
	p {
		margin: 0;
		font-size: 1.1rem;
	}
	&.is-style-info {
		background-color: #e7f5ff;
		border-left-color: #228be6;
	}

	&.is-style-success {
		background-color: #ebfbee;
		border-left-color: #40c057;
	}

	&.is-style-warning {
		background-color: #fff9db;
		border-left-color: #fab005;
	}


}